@media screen and (min-width: 380px) { /* MOBILE AND BELOW */

  html {
    min-width: 100%;

  }
  
  body {
    margin:0;
    padding: 0;
    overflow: hidden;
  }
  
  h1 {
    padding-left: 5%;
    font-size: 30px;
    font-family: "Gotham Medium", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    opacity: .7;
    letter-spacing: -1px;
    word-spacing: -5px;
  }
  
  img {
    padding: 5px;
    max-height: 300px;
    max-width: 300px;
    height: 90px;
    width: 90px;
    transition: transform .6s;
    filter: brightness(80%);
  }
  
  img:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
    filter: brightness(120%);
  }
  
  img.logo {
    height: auto;
    width: 100px;
    padding-top: 2%;
    filter: sepia(0.5) brightness(1.5);
    transition: none;
    pointer-events: none;
  }
  
  a {
    font-family: "Gotham Medium", Helvetica, Arial, sans-serif;
    color: rgb(245, 245, 245);
    opacity: .8;
    padding-left: 2%;
    font-size: 4.0vw;
    max-width: 300px;
    font-weight: bold;
    transform: scale(10);
    transition: all 0.3s ease-in-out 0.2s;
  }
  a:link { text-decoration: none; }
  
  header {
    background-color: black;
  }

  header > a {
    color: whitesmoke;
    text-align: left;
    font-size: small;
    padding-right: 10px;
  }
  ol.custom {
    list-style-type: none;
    margin-left: 0;
  
  }
    
  ol.custom > li {
    counter-increment: customlistcounter;
  }
    
  ol.custom > li:before {
    content: "#" counter(customlistcounter);
    font-weight: bold;
    font-size: 8.0vw;
    font-family: "Gotham Medium", Helvetica, Arial, sans-serif;
    opacity: .6;
    color: rgb(176, 214, 70);
    padding: 5px;
  }
  
  ol.custom:first-child {
    counter-reset: customlistcounter;
  }
}

@media screen and (max-width: 600px) { /* MOBILE */

  html {
    min-width: 100%;

  }
  
  body {
    margin:0;
    padding: 0;
    overflow: hidden;
  }
  
  h1 {
    padding-left: 5%;
    font-size: 30px;
    font-family: "Gotham Medium", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    opacity: .7;
    letter-spacing: -1px;
    word-spacing: -5px;
  }
  
  img {
    padding: 5px;
    max-height: 300px;
    max-width: 300px;
    height: 90px;
    width: 90px;
    transition: transform .6s;
    filter: brightness(80%);
  }
  
  img:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
    filter: brightness(120%);
  }
  
  img.logo {
    height: auto;
    width: 100px;
    padding-top: 2%;
    filter: sepia(0.5) brightness(1.5);
    transition: none;
    pointer-events: none;
  }
  
  a {
    font-family: "Gotham Medium", Helvetica, Arial, sans-serif;
    color: rgb(245, 245, 245);
    opacity: .8;
    padding-left: 2%;
    font-size: 4.0vw;
    max-width: 300px;
    font-weight: bold;
    transform: scale(10);
    transition: all 0.3s ease-in-out 0.2s;
  }
  a:link { text-decoration: none; }
  
  header {
    background-color: black;
  }

  header > a {
    color: whitesmoke;
    text-align: left;
    font-size: small;
    padding-right: 10px;
  }
  ol.custom {
    list-style-type: none;
    margin-left: 0;
  
  }
    
  ol.custom > li {
    counter-increment: customlistcounter;
  }
    
  ol.custom > li:before {
    content: "#" counter(customlistcounter);
    font-weight: bold;
    font-size: 8.0vw;
    font-family: "Gotham Medium", Helvetica, Arial, sans-serif;
    opacity: .6;
    color: rgb(176, 214, 70);
    padding: 5px;
  }
  
  ol.custom:first-child {
    counter-reset: customlistcounter;
  }
}

@media screen and (min-width: 768px) { /* TABLET */

  html {
    min-width: 100%;

  }
  
  body {
    margin:0;
    padding: 0;
    overflow: hidden;
  }
  
  h1 {
    padding-left: 5%;
    font-size: 30px;
    font-family: "Gotham Medium", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    opacity: .7;
    letter-spacing: -1px;
    word-spacing: -5px;
  }
  
  img {
    padding: 5px;
    max-height: 300px;
    max-width: 300px;
    height: 100px;
    width: 100px;
    transition: transform .6s;
    filter: brightness(80%);
  }
  
  img:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
    filter: brightness(120%);
  }
  
  img.logo {
    height: auto;
    width: 100px;
    padding-top: 2%;
    filter: sepia(0.5) brightness(1.5);
    transition: none;
    pointer-events: none;
  }
  
  a {
    font-family: "Gotham Medium", Helvetica, Arial, sans-serif;
    color: rgb(245, 245, 245);
    opacity: .8;
    padding-left: 2%;
    font-size: 4.0vw;
    max-width: 300px;
    font-weight: bold;
    transform: scale(10);
    transition: all 0.3s ease-in-out 0.2s;
  }
  a:link { text-decoration: none; }
  
  header {
    background-color: black;
  }

  header > a {
    color: whitesmoke;
    text-align: left;
    font-size: small;
    padding-right: 10px;
  }
  ol.custom {
    list-style-type: none;
    margin-left: 0;
  
  }
    
  ol.custom > li {
    counter-increment: customlistcounter;
  }
    
  ol.custom > li:before {
    content: "#" counter(customlistcounter);
    font-weight: bold;
    font-size: 40px;
    font-family: "Gotham Medium", Helvetica, Arial, sans-serif;
    opacity: .6;
    color: rgb(176, 214, 70);
    padding: 5px;
  }
  
  ol.custom:first-child {
    counter-reset: customlistcounter;
  }
}


@media screen and (min-width: 768px) and (orientation: landscape) { /* TABLET */

  html {
    min-width: 100%;
  }
  
  body {
    margin:0;
    padding: 0;
    overflow: hidden;
  }
  
  h1 {
    padding-left: 50px;
    font-size: 26px;
    font-family: "Gotham Medium", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    opacity: .7;
    letter-spacing: -1px;
    word-spacing: -5px;
  }
  
  img {
    padding: 5px;
    max-height: 300px;
    max-width: 300px;
    height: 70px;
    width: 70px;
    transition: transform .6s;
    filter: brightness(80%);
  }
  
  img:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
    filter: brightness(120%);
  }
  
  img.logo {
    height: auto;
    width: 100px;
    padding-top: 2%;
    filter: sepia(0.5) brightness(1.5);
    transition: none;
    pointer-events: none;
  }
  
  a {
    font-family: "Gotham Medium", Helvetica, Arial, sans-serif;
    color: rgb(245, 245, 245);
    opacity: .8;
    padding-left: 2px;
    font-size: 26px;
    font-weight: bold;
    transform: scale(10);
    transition: all 0.3s ease-in-out 0.2s;
  }
  a:link { text-decoration: none; }

  header {
    background-color: black;
  }

  header > a {
    color: whitesmoke;
    text-align: left;
    font-size: small;
    padding-right: 10px;
  }
  
  ol.custom {
    list-style-type: none;
    margin-left: 0;
  
  }
    
  ol.custom > li {
    counter-increment: customlistcounter;
  }
    
  ol.custom > li:before {
    content: "#" counter(customlistcounter);
    font-weight: bold;
    font-size: 48px;
    font-family: "Gotham Medium", Helvetica, Arial, sans-serif;
    opacity: .6;
    color: rgb(176, 214, 70);
    padding: 5px;
  }
  
  ol.custom:first-child {
    counter-reset: customlistcounter;
  }
}


/* ============= Animation background ========= */

.background {
  background: linear-gradient(132deg, #72f3ae, #1b51c5, #108884f5);
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

@keyframes Gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
