<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groovehistory</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="theme-color" content="black">
</head>

<body>

<div class="menu">
  <a class="maintitle">🌍 Groovehistory</a>
</div>

  <article>

    <section>
        <h5>Too bad... It looks like you haven't had the chance to explore much music on Spotify yet. <h5> 
        <h5>Give it another go after listening to some more tracks!</h5>
    </section>

  </article>

  <footer>
    <p>
      A track must be played for more than 30 seconds to be included in play history<br>
      <br>
      Artist images and album covers are provided by Spotify.<br>
      This site is not affiliated, associated, authorized, endorsed by, or in any way officially connected with Spotify. <br>
      Spotify is a trademark of Spotify AB.<br>
      <br>
      <a href="https://github.com/kenybapin" target="_blank">@kenybapin</a>
      <br>
    </p>
  </footer>


</body>



</html>

