<!DOCTYPE html>
<html>
  <head>
    <title>Spotify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
  </head>
  <body>
  <header><a href="https://accounts.spotify.com/logout">Log Out</a></header>
<div class="background">      
        <h1 class="logo"> {% include 'base64-logo.html' %} <br> &nbsp; My Top Artists</h1>
      <ol class="custom">
          {% for i in data['items'] %}
              <li>
              <a href="{{ i['external_urls']['spotify'] }}"><img style="vertical-align:middle" src="{{ i['images'][0]['url'] }}" target="_blank" ></a>
              <span style=""><a href="{{ i['external_urls']['spotify'] }}" target="_blank" >{{ i['name'] }}</a></span>
              </li>
          {% endfor %}        
      </ol>
</div>

</body>
</html>